/* style-contact.css */
.contact {
    width: 90%;
    /* max-height: 60%; */
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.contact h2 {
    color: var(--color-blue);
    font-size: 30px;
}

.form-group {
    margin-bottom: 20px;
}

main{
    height: 80vh;
    display: flex;
    align-items: center;
}

label {
    display: block;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: vertical;
}

button.btn {
    background-color: var(--color-blue);
    color: var(--color-light);
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

button.btn:hover {
    background-color: var(--color-light);
    color: var(--color-blue);
    transition: 0.5s;
}
