@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgb(6, 114, 255);
    --color-light: #ffffff;
    --color-dark: #000000;
    min-height: 100%;
}

.transition {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s;
}

html, body {
    font-family: 'Catamaran', sans-serif;
    background: linear-gradient(109.6deg, rgba(80, 154, 175, 0.5) 11.2%, rgb(125, 216, 199, 0.5) 59.3%, rgb(245, 255, 195, 0.5) 92.7%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.header {
    width: 90%;
    height: 80px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 30px
}

.logo {
    padding: 0px 3px;
    background-color: var(--color-blue);
    color: var(--color-light);
    border-radius: 9px;
}

.header ul {
    list-style: none;
    display: flex
}


.header li {
    margin: 0 10px;
}

.header a {
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 700;
}

.header a:hover {
    color: var(--color-blue);
    transition: 0.5s;
}

@media(max-width:900px) {
    .header {
        justify-content: space-evenly;
    }
}